body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #fffbe7;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffcb05;
  text-align: center;
  padding: 2rem;
  border-bottom: 4px solid #ff8c00;
}

main {
  padding: 2rem;
}

h1, h2 {
  color: #d1495b;
}

ul {
  list-style-type: "🍟 ";
  margin-right: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 1em;
  background-color: #eee;
  margin-top: 2rem;
  margin-top: 2rem;
  border-top: 2px solid #ffcb05;
  

}
.middle-right-img {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 10; 
}
  
#poundTracker {
  color: #d1495b;
  cursor: pointer;
  text-decoration: underline;
}

#poundTracker:hover {
  color: #ff8c00;
}

